<div class="trialpartWrapper" style="text-align: left;">
  <p>
    You will hear words containing the /r/ sound. Click the button to listen to each word.
  </p><p>
    After hearing the word, choose whether the /r/ sound is right or wrong.
  </p><p>
  Click to start.
    </p><p>
    <%= continueButton() %>
  </p>
</div>

