<% 
	Experigen.fieldsToSave["Filename"] = true;
	Experigen.fieldsToSave["Target"] = true;
	Experigen.fieldsToSave["Correct_Response"] = true;
	Experigen.fieldsToSave["Response"] = true;
%>


<div style="text-align: center; line-height:130%;">
	<p>
	Listen to the following sound. You'll be able to listen to the sound file three times. If the sound files stop playing, there might be some problems with the connection, so please wait a few moments; do not refresh the page!
	<p>
	Word: <%= Target %>
</div>

<div class="trialpartWrapper" style="float:left; height: 3em; width: 40%;">
	<%= makeWAVSoundButton({soundFile: Filename, maxRepeat: 3 }) %> 
	
	
	
</div>

<div class="trialpartWrapper" style="clear:both; text-align: center;">  
	Rating
	<p>
	<%= makeScale({buttons: ["incorrect", "correct"]}) %>

</div>



<div style="clear: both; height: 1px;">&nbsp;</div>
