<div class="trialpartWrapper" style="text-align: left;">
  <p>
    You will hear pairs of words containing the /r/ sound. Click the button to listen to each pair of words.
  </p><p>
    After hearing both words, choose the word where the /r/ sound is more accurate.
  </p><p>
  Click to start.
    </p><p>
    <%= continueButton() %>
  </p>
</div>

