<%
Experigen.sectionStart = Experigen.position;
Experigen.sectionEnd = Experigen.postTrainingBookmark;
Experigen.progressbar.advance();
%>

<div class="trialpartWrapper" style="text-align: left;">
Now we will have you practice. This is just so you feel comfortable with the rating method. We will give feedback on your responses.
Click to start the practice trials.<p>
	<%= continueButton() %>
</div>

