<%
$(function(){window.scrollTo(0,0);});
%>

<div class="trialpartWrapper" style="text-align: left;">

<input type="button" value="" style="display: none">

You have been invited to take part in a research study about how adult speakers of English rate or classify speech sounds. This study is being conducted by researchers from the Department of Communicative Sciences and Disorders in New York University's Steinhardt School of Education, Culture, and Human Development.
<p>
If you agree to be in this study, you may be asked to do the following:<p>
<ol>
<li>Complete a short pre-qualification questionnaire about your background and pass a headphone screening check.</li>
<li>Rate or categorize a set of speech sounds.</li>
</ol>
<p>
The length of time required to complete this study varies across individuals. Please see the Mechanical Turk work posting for the estimated duration associated with this specific task. You may take breaks whenever you like.
<p>
There are no known risks associated with your participation in this research beyond those of everyday life. Although you will receive no direct personal benefits from this study, this research may help us better understand the nature of speech development and disorders.
<p>
You will be paid a nominal fee once your completed set of responses is approved. Please see the Mechanical Turk work posting for the specific amount being offered for this job.
<p>
Confidentiality of your research records will be strictly maintained. In our records, your responses will be associated with a meaningless alphanumerical code. We will not link these responses to your Mechanical Turk Worker ID.
<p>
Participation in this study is voluntary. You are free to withdraw or refuse to participate at any time. 
<p>
If there is anything about the study or your participation that is unclear or that you do not understand, if you have questions or wish to report a research-related problem, you may contact our research team at 516-265-5389 or via email at nyuchildspeech@gmail.com.
<p>
For questions about your rights as a research participant, you may contact the University Committee on Activities Involving Human Subjects, New York University, 665 Broadway, Suite 804, New York, New York, 10012, at ask.humansubjects@nyu.edu or (212) 998-4808.
<p>
You may print this document for your records.
<p>
Based on the information in this document, do you wish to participate in the study?
<p>
<%= continueButton({label:"Yes, I agree to the terms"}) %></br>
<input type="button" value="No, take me back to the Mechanical Turk interface" onClick="window.close();" onLoad="window.scrollTo(0,0);">
</div>
