<div style="text-align: left;">
<input type="hidden" name="destination" value="demographics.csv">


This is the identification task.
<p>
Please enter the participant ID.<br>
<input type="text" name="Participant" style="padding: 0px; width=20em;" size="30" maxlength="20">
</p>


<p>
Please enter the session number.<br>
<input type="text" name="Session" style="padding: 0px; width=20em;" size="30" maxlength="20">
    </p>
    

<P style="text-align: center;">
<input type="button" value="   Send   " onClick="Experigen.recordResponse(this);">
	

</div>