<%
%>

<div class="trialpartWrapper" style="text-align: left;">
Now we'll continue to the listening test. <p>

You will hear 20 words; then you will take a break.<p>

Remember, if you're not sure which word you heard, take your best guess.<p>

	<%= continueButton() %>
</div>

