<div class="trialpartWrapper" style="text-align: left;">
  <p>
    In this task, you will hear someone saying the words "rake" and "wake."
  </p><p>
    Your job is to press the button that goes with the word you heard.
  </p><p>
    If you’re not sure, take your best guess.
  </p><p>
    If this is your first time, click "practice" below. Otherwise, click "proceed" to skip to the main task.
    </p><p>
      <input type="button" value="practice" onclick="Experigen.accuracy=0;Experigen.accuracyTotal=0;Experigen.rewind(Experigen.preTrainingBookmark);">
      <input type="button" value="proceed" onclick="Experigen.accuracy=0;Experigen.accuracyTotal=0;Experigen.rewind(Experigen.trainingEndBookmark);">
    
  </p>
</div>

